body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1 {
  font-size: 1.6rem;
  margin: 0;
  margin-bottom: 0.8rem;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  color: #999999;
  margin: 0 0 10px 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #252827;
  width: 130px;
  padding: 18px;
  color: #a7abb1;
  overflow: hidden;
}
nav .top,
nav .bottom {
  position: absolute;
  left: 0;
  width: 130px;
  padding: 18px;
}
nav .top {
  top: 0;
  height: 60px;
}
nav .bottom {
  bottom: 0;
  height: 40px;
}
nav .top a {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: center;
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  display: block;
}
.site-nav {
  margin-top: 80px;
  padding-left: 14px;
  padding-right: 14px;
}
.site-nav a {
  font-size: 16px;
  color: #8A8A8A;
  text-decoration: none;
}
.site-nav a.active {
  color: #FFFFFF;
}
.site-nav a > span {
  margin-right: 4px;
}
main {
  margin-left: 166px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F0F0F0;
}
main .top {
  margin-left: 18px;
  height: 24px;
  padding: 10px;
  background-color: #FFFFFF;
  display: none;
}
main .title a {
  color: #D3D3D3;
  text-decoration: none;
}
main .content {
  padding: 18px;
}
table {
  width: 100%;
  max-width: 800px;
}
table th {
  color: #636363;
  font-weight: normal;
}
table th, table td {
  text-align: left;
  padding: 6px;
}
table tbody tr:nth-child(odd) {
  background-color: #F3F3F3;
}
table a {
  color: #000000;
}

.conveyor-nav {
  overflow: hidden;
  margin-bottom: 12px;
}
.conveyor-nav>li {
  float: left;
  margin-right: 6px;
}
.conveyor-nav>li>a {
  display: block;
  padding: 5px 10px;
  background-color: #E6E6E6;
  color: #888888;
  text-decoration: none;
  font-size: 12px;
}
.conveyor {
  margin-bottom: 30px;
}
.conveyor dl {
  margin: 5px 0 0 0;
}
.conveyor dl dt {
  display: block;
  margin: 0;
  float: left;
  margin-right: 10px;
  color: #999999;
}
.conveyor dl dd {
  margin: 0 0 0 22px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
.conveyor {
  overflow: hidden;
}
.conveyor .stats,
.conveyor .config {
  float: left;
  height: 250px;
  min-width: 300px;
  margin-right: 18px;
  background-color: #FAFAFA;
  padding: 10px 20px;
}
.conveyor .stats dl dt {
  width: 180px;
}
.conveyor .config dl dt {
  width: 110px;
}
.conveyor dl dd .unit {
  color: #999999;
}
