{{define "main"}}
<div class="content">
  <h1 class="title"><a href="/conveyors/{{.Result.Conv.ID}}">Conveyor: {{.Result.Conv.ID}}</a></h1>
  <ul class="conveyor-nav">
    <li><a href="/conveyors/{{.Result.Conv.ID}}">View</a></li>
    <li><a href="/conveyors/{{.Result.Conv.ID}}/log">Log</a></li>
    <li><a href="/conveyors/{{.Result.Conv.ID}}/edit">Edit</a></li>
  </ul>
  <div class="conveyor">
    <div class="stats">
      <h2>Stats</h2>
      <dl><dt>Tasks waiting:</dt><dd>{{.Result.Stats.InQueue}}</dd></dl>
      <dl><dt>Tasks processing:</dt><dd>{{.Result.Stats.InProcessing}}</dd></dl>
      <dl><dt>Tasks scheduled:</dt><dd>{{.Result.Stats.InScheduled}}</dd></dl>
      <dl><dt>Total tasks:</dt><dd>{{.Result.Stats.TotalProcessed}}</dd></dl>
      <dl><dt>Total tasks ok:</dt><dd>{{.Result.Stats.TotalProcessedOK}}</dd></dl>
      <dl><dt>Total tasks rescheduled:</dt><dd>{{.Result.Stats.TotalProcessedRescheduled}}</dd></dl>
      <dl><dt>Total tasks error:</dt><dd>{{.Result.Stats.TotalProcessedError}}</dd></dl>
    </div>
    <div class="config">
      <h2>Config</h2>
      <dl><dt>Max rate:</dt><dd>{{.Result.Conv.Config.MaxRate}} <span class="unit">/ s</span></dd></dl>
      <dl><dt>Max concurrent:</dt><dd>{{.Result.Conv.Config.MaxConcurrent}}</dd></dl>
      <dl><dt>Max tries:</dt><dd>{{.Result.Conv.Config.TaskMaxTries}} <span class="unit">/ task</span></dd></dl>
      <dl><dt>Task timeout:</dt><dd>{{.Result.Conv.Config.TaskTimeout}}<span class="unit">s</span></dd></dl>
    </div>
  </div>
</div>
{{end}}
